@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "sans-serif";
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #000;

}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

/*header style*/
.header {
    position: relative;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #000;
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about img {
    height: 100%;
    width: 100%;
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}


/*Portfolio*/
.portfolio {
    margin: 4em 0;
    position: relative;
}

.portfolio h1 {

    margin: 2em;
}

.portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;



}

/*blog style*/

.blog {
    margin: 4em 0;
    position: relative;
}

.blog h1 {
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
}

.blog .card img {
    width: 100%;
    height: 12em;
}

@media (max-width: 768px) {
    .team .item img {
        width: 100%;
    }
}

.blog .card-title {
    color: #F97300;

}

.blog .card-body {
    padding: 1em;
}

.team {
    margin: 4em 0;
    position: relative;

}

.team h1 {

    margin: 2em;
}

.team .item {
    position: relative;
    overflow: hidden;
}

.team .des {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-top-right-radius: 93%;
    transition: .3s ease-in-out;
    position: absolute;
    width: 88%;
    bottom: 24px;


}

.team .item:hover .des {
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-top-right-radius: 0;
}

.contact-form {
    position: relative;
}


.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-primary {
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

ul.social-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social-buttons li {
    display: inline-block;
    margin-right: 10px;
}

ul.social-buttons li:last-child {
    margin-right: 0;
}

.social-btn {
    width: 60px;
    height: 60px;
    background: rgba(0, 123, 255);
    display: inline-block;
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
}

.social-btn:hover,
.social-btn:focus {
    background: black;
    color: rgb(255, 255, 255);
}

.social {
    margin-top: 25px
}

.tombolmore {
    background: black;
    border-color: white;
    color: white;
}

.tombolmore:hover,
.tombolmore:focus,
.tombolmore:active {
    background: white;
    border-color: black;
    color: black;
}

.scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 48px;
    width: 48px;

    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

.sosmedteam {
    text-align: center;
    font-size: 30px;
    background: black;
    color: white;
    display: inline-block;
}

.st-btn {
    color: white;
}

.st-btn:hover,
.st-btn:focus {
    background: white;
    color: black;
}